#widget_ent{
	list-style-type:none;
}

#widget_ent li{
	display:inline-block;
}

@keyframes hide{
	from{opacity:1.0;}
	to{opacity:0.0;}
}

@media screen and (min-width:768px){
	.ent{
		position:absolute;
		text-align:center;
		color:white;
		z-index:1;
	}

	.sent{
		/*visibility:hidden;*/
		position:absolute;
		text-align:center;
		color:white;
		z-index:0;
	}

	#btn1,#sbtn11,#sbtn12,#sbtn13{
		background-color:#31ce7c;
	}

	#btn2,#sbtn21,#sbtn22,#sbtn23{
		background-color:#ffcc00;
	}

	#btn3,#sbtn31,#sbtn32,#sbtn33{
		background-color:#ff6600;
	}

	#btn4,#sbtn41,#sbtn42,#sbtn43{
		background-color:#ff66ff;
	}

	#btn5,#sbtn51,#sbtn52,#sbtn53{
		background-color:#6699ff;
	}

	#btn6,#sbtn61,#sbtn62,#sbtn63{
		background-color:#66fefe;
	}
}

@media screen and (min-width:768px){
	.ent{
		width:160px;
		height:160px;
		border-radius:80px;
	}

	.sent{
		width:110px;
		height:110px;
		border-radius:55px;
	}

	/********** btn1 **********/
	#btn1{
		left:220px;
		top:0px;
	}

	#sbtn11{
		left:245px;
		top:-30px;
	}

	#sbtn12{
		left:190px;
		top:65px;
	}

	#sbtn13{
		left:300px;
		top:65px;
	}

	/********** btn2 **********/
	#btn2{
		left:440px;
		top:93px;
	}

	#sbtn21{
		left:470px;
		top:63px;
	}

	#sbtn22{
		left:525px;
		top:158px;
	}

	#sbtn23{
		left:415px;
		top:158px;
	}

	/********** btn3 **********/
	#btn3{
		left:440px;
		top:280px;
	}

	#sbtn31{
		left:470px;
		top:250px;
	}

	#sbtn32{
		left:525px;
		top:345px;
	}

	#sbtn33{
		left:415px;
		top:345px;
	}

	/********** btn4 **********/
	#btn4{
		left:220px;
		top:373px;
	}

	#sbtn41{
		left:245px;
		top:343px;
	}

	#sbtn42{
		left:300px;
		top:438px;
	}

	#sbtn43{
		left:190px;
		top:438px;
	}

	/********** btn5 **********/
	#btn5{
		left:0px;
		top:280px;
	}

	#sbtn51{
		left:30px;
		top:250px;
	}

	#sbtn52{
		left:85px;
		top:345px;
	}

	#sbtn53{
		left:-25px;
		top:345px;
	}

	/********** btn6 **********/
	#btn6{
		left:0px;
		top:93px;
	}

	#sbtn61{
		left:30px;
		top:63px;
	}

	#sbtn62{
		left:85px;
		top:158px;
	}

	#sbtn63{
		left:-25px;
		top:158px;
	}
}

@media screen and (min-width:768px){
	.ent{
		width:160px;
		height:160px;
		border-radius:80px;
	}

	.sent{
		width:110px;
		height:110px;
		border-radius:55px;
	}

	/********** btn1 **********/
	#btn1{
		left:220px;
		top:0px;
	}

	#sbtn11{
		left:245px;
		top:30px;
	}

	#sbtn12{
		left:245px;
		top:30px;
	}

	#sbtn13{
		left:245px;
		top:30px;
	}

	/********** btn2 **********/
	#btn2{
		left:440px;
		top:93px;
	}

	#sbtn21{
		left:470px;
		top:123px;
	}

	#sbtn22{
		left:470px;
		top:123px;
	}

	#sbtn23{
		left:470px;
		top:123px;
	}

	/********** btn3 **********/
	#btn3{
		left:440px;
		top:280px;
	}

	#sbtn31{
		left:470px;
		top:310px;
	}

	#sbtn32{
		left:470px;
		top:310px;
	}

	#sbtn33{
		left:470px;
		top:310px;
	}

	/********** btn4 **********/
	#btn4{
		left:220px;
		top:373px;
	}

	#sbtn41{
		left:245px;
		top:403px;
	}

	#sbtn42{
		left:245px;
		top:403px;
	}

	#sbtn43{
		left:245px;
		top:403px;
	}

	/********** btn5 **********/
	#btn5{
		left:0px;
		top:280px;
	}

	#sbtn51{
		left:30px;
		top:310px;
	}

	#sbtn52{
		left:30px;
		top:310px;
	}

	#sbtn53{
		left:30px;
		top:310px;
	}

	/********** btn6 **********/
	#btn6{
		left:0px;
		top:93px;
	}

	#sbtn61{
		left:30px;
		top:123px;
	}

	#sbtn62{
		left:30px;
		top:123px;
	}

	#sbtn63{
		left:30px;
		top:123px;
	}
}
