@font-face {
	font-family : MeticulousAriel;
	src : url(../fonts/Meticulous_Ariel.ttf);
}

@font-face {
	font-family : Nymphette;
	src : url(../fonts/Nymphette.ttf);
}

@font-face {
	font-family : OrangeJuice;
	src : url(../fonts/orange_juice.ttf);
}

@font-face {
	font-family : Simplicity;
	src : url(../fonts/simplicity.ttf);
}

@font-face {
	font-family : SketchBlock;
	src : url(../fonts/Sketch_Block.ttf);
}

@font-face {
	font-family : MillionMileMan;
	src : url(../fonts/The_Million_Mile_Man.ttf);
}

