@font-face {
	font-family : MeticulousAriel;
	src : url(../fonts/Meticulous Ariel - Final.ttf);
}

@font-face {
	font-family : Nymphette;
	src : url(../fonts/Nymphette.ttf);
}

@font-face {
	font-family : OrangeJuice;
	src : url(../fonts/orange juice 2.0.ttf);
}

@font-face {
	font-family : Simplicity;
	src : url(../fonts/simplicity.ttf);
}

@font-face {
	font-family : SketchBlock;
	src : url(../fonts/Sketch_Block.ttf);
}

@font-face {
	font-family : MillionMileMan;
	src : url(../fonts/The Million Mile Man.ttf);
}

