body{
	background-color:white;
}

.separateur{
	background-color:black;
	padding-top:2px;
	margin-left:10%;
	margin-right:10%;
}

.img{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	max-height:100%;
}

.lang{
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:20px;
}

.cadre_bas{
	margin-top:50px;
	height:200px;
}

.cadre_bas div div{
	height:100px;
}

@media screen and (min-width: 1200px){
	header{
		height:120px;
	}
	header nav{
		margin-top:70px;
	}
}
