<IfModule mod_rewrite.c>
#Options +FollowSymlinks
RewriteEngine On
RewriteOptions Inherit
RewriteBase /
#RewriteCond %{REMOTE_ADDR} !127.0.0.1
RewriteCond %{REQUEST_URI} !(^/plaquette\.pdf|^/index\.php.*$|^/css/.*$|^/js/.*$|^/bootstrap/.*$|^/images/.*$|^/liseres/.*$|^/logos/.*$)
RewriteRule ^([^/]*)/?(.*)?$ /index.php?page1=$1&page2=$2 [L]

</IfModule>
