<IfModule mod_rewrite.c>
#Options +FollowSymlinks
RewriteEngine On
RewriteOptions Inherit
RewriteBase /
#RewriteCond %{REMOTE_ADDR} !127.0.0.1
RewriteCond %{REQUEST_URI} !(^/index\.php.*$|^/css/.*$|^/js/.*$|^/bootstrap/.*$|^/images/.*$|^/liseres/.*$|^/logos/.*$)
RewriteRule ^([^/]*)(/.*)?$ /index.php?eikjfdolDZFeS546=$1&poEfurnj856oafer=$2 [L]

</IfModule>
